@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    color: #404040;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

div {
    max-width: 800px;
    text-align: justify;
    margin: 0px auto 0px auto;
}

.title {
    border: solid powderblue;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

.main-content {
    max-width: 800px;
    padding-left: 200px;
    text-align: justify;
}

.main-navigation {
    position: fixed;
    width: 200px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    text-align: left;
    background-color: #404040;
    color: #9b9b9b;
}

.nav-items {
    width: auto;
    padding: 2.5px 0px 2.5px 20px;
    text-align: left;
}

.nav-items a {
    text-decoration: none;
    color: #9b9b9b;
}

.nav-items:hover {
    background-color: #5c5c5c;
}

.nav-items:hover a {
    color: green;
}

.nav-headings {
    width: auto;
    margin: 5px auto 0px 5px;
    padding: 2px 0px 0px 20px;
    text-align: left;
}

.nav-headings h2 {
    margin: 0px 0px 0px -5px;
    font-size: 18px;
}

.nav-sections {
    width: auto;
}