@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    color: #202020;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
    background-image: url(https://images.unsplash.com/photo-1551376347-075b0121a65b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
    background-size: cover;
}

h1, h2, h3 {
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

div {
    max-width: 800px;
    text-align: justify;
    margin: 0px auto 0px auto;
}

img {
    width: 100%;
}

.title {
    border: solid powderblue;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-family: "Roboto Slab", "ff-tisa-web-pro", "Georgia", Arial, sans-serif;
}

.main-content {
    max-width: 800px;
    padding-left: 250px;
    text-align: justify;
}

.main-navigation {
    position: fixed;
    width: 225px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    text-align: left;
    background-color: #404040;
    color: #9b9b9b;
    overflow: scroll;
}

.nav-items {
    width: auto;
    padding: 2.5px 20px 2.5px 20px;
    text-align: left;
    font-size: 90%;
}

.nav-items a {
    text-decoration: none;
    color: #fbfbfb;
}

.nav-items:hover {
    background-color: #5c5c5c;
}

.nav-items:hover a {
    color: green;
}

.nav-headings {
    width: auto;
    margin: 5px auto 0px 5px;
    padding: 2px 0px 0px 20px;
    text-align: left;
}

.nav-headings h2 {
    margin: 0px 0px 0px -5px;
    font-size: 16px;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

.nav-sections {
    width: auto;
}